# Database
DATABASE_URL="file:./dev.db"

# JWT Secret (Change this to a random string in production)
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"
ADMIN_CODE="omu"

# Next.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-nextauth-secret-change-this-in-production"

# Environment
NODE_ENV="development"